.containerNavbar {
  width: 122px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.05));
}

.containerNavbar > a:first-child {
  align-self: center;
}

.containerNavbar div:last-child {
  align-self: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.navbar div.selected {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar div.selected > div {
  width: 4px;
  height: 56px;
  position: absolute;
  left: 0;
  background: var(--blue);
  border-radius: 0px 5px 5px 0px;
}

.navbar div.selected a svg g {
  opacity: 1;
}

.navbar div.selected a svg g path {
  stroke: var(--blue);
}

/* ========== Dark Theme ========== */

.containerNavbar.dark {
  background: linear-gradient(
    180deg,
    var(--backgroundNavbarDark) 0%,
    var(--backgroundDark) 100%
  );
}
